<%- include('partials/header'); -%>

<html>
    <head></head>
    <body>
        <div class="TL" >
            <p>E-рдордд</p>
            <p>Welcome to the new age of voting</p>
        </div>
    </body>
</html>

<%- include('partials/footer'); -%>